<div class="container-fluid">
    <h4>Top Sports News <marquee>“My advice to you is get married: If you find a good wife you’ll be happy; if not, you’ll become a philosopher.” </marquee></h4>
    <div class="row">
        <div *ngFor="let nd of sportsNewsData" class="col-lg-3 mb-3">
            <img src="{{nd.urlToImage}}" class="img-fluid" alt="Responsive image">
            <h5 class="mt-3 mb-3"><b>{{nd.title}}</b></h5>
            <a class="btn btn-primary" target="_blank" href="{{nd.url}}">Read More</a>
        </div>
    </div>
</div>