<ngx-loading-bar [height]="'10px'" [color]="'yellow'" [includeSpinner]="false"></ngx-loading-bar>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
      
<div class="container">
            <div class="nav">
                <div class="nav" routerLink="">
                <img src="/assets/images/logotype.png">
            </div>
                <ul>
                    <li class="active" routerLink="home">Home</li>
                    <li routerLink="tech">Tech News</li>
                    <li routerLink="sports">Sports News</li>
                    <li routerLink="business">Business News</li>
               </ul>
  </div>
  <router-outlet></router-outlet>
  <footer>
    
      <p class="text-center" style="font-weight: bold;">&copy; Copyright 2022 News.Com</p>
 
  </footer>