@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    padding: 0;
    margin: 0; 
    font-family: 'Quicksand', sans-serif;
   }
body{
    background: #fff;
}
.container{
    position: relative;
    box-sizing: border-box;
    padding: 0 0 150px 150px;
    
}
.container .nav{
    position: relative;
    width: 100%; 
    margin-bottom: 20px;  
    

}
.container .nav img{
    position: relative;
    width: 80px;    height: 80px; 
    position: relative;
    left: 50%;  transform: translateX(-50%);
}
.container .nav ul{
    position: relative;
    width: 100%;
    background: #2f3640  ;
    box-sizing: border-box;
    
}
.container .nav ul li{
    list-style: none;  
    display: inline-block; 
    margin-left: -5px; 
    
}
.container .nav ul li:first-child{
    margin-left: 0;
}
.container .nav ul li{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
    
    
}
.container .nav ul li:hover,.nav ul li.active{
    background: #fbc531 ;  color: #2f3640;
}


@media screen and (max-width: 630px) {
    .container{
        padding: 0;
    }
    .container .nav ul li{
        list-style: none;  
        display: block; 
        width: 100%; 
        margin-left: 0;
    }
    .container .nav ul li a{
        padding: 20px 0;
        width: 100%;
        text-align: center;
    }
    .container .content .col{
        width: 100% !important;
        margin-right: 0 !important;
    }
    .container .content .col img{
        width: 100%;  height: 80px;
    }
}